# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.Python
env/
venv/
*.so

# Project Specific
.cache/
results/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
